.header-nav__link{
    padding: 3px 20px;
    background: #F6F6F6;
    color: #D6C7B7;
    border: 1px solid #D6C7B7;
    text-decoration: none;
    cursor: pointer;
}

body{
    background-color: #F0ECE7;
}
.register-form__content{
    width: 50%;
    margin: 20px auto;
}
.register-form__heading{
    margin: 45px;
    text-align: center;
}
h2{
    color: #8B7969;
}

/* フォームの枠と幅 */
.form{
    border: 1px solid #d3baa3;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background-color: white;
}

/* フォームの枠内 */
.form__content{
    width: 60%;
    margin: 20px auto;
}

/* ラベルとテキスト */
.form__group{
    margin-bottom: 30px;
    /* padding-left: 20px; */
}
/* タイトルの位置 */
.form__group-title{
margin-bottom: 8px;
}
.form__label--item{
    color: #8B7969;
}
.form__error{
    color: rgb(211, 52, 52);
}
.form__input--text{
    width: 100%;
}
.form__input--text-item{
    width: 100%;
    height: 40px;
    border: 1px solid #F4F4F4;
    background-color: #F4F4F4;
    color: #8B7969;
}
.form__button{
    text-align: center;
}
.form__button-submit{
    height: 30px;
    width: 70px;
    background-color: #80756B;
    border: none;
    color: white;
}
